/* RESET SETING */
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  overflow: hidden;
}

/* =====TEXT-STYLES===== */

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 400;
}

/* =====COMON===== */

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* ======= HEADER======*/

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-list,
.address {
  display: none;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  padding: 16px 0;
  display: block;
}

.header-logo-black {
  color: #2e2f42;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .header-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: flex;
    gap: 40px;
    align-items: center;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .header-list-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-list-link.current {
    position: relative;
  }

  .header-list-link.current::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -1px;

    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: #404bbf;
  }

  .address {
    display: block;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .address-contact {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-list-link:hover,
  .header-list-link:focus,
  .address-contact:hover,
  .address-contact:focus,
  .header-list-link.current {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .address-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .address-contact {
    font-size: 16px;
    line-height: 1.5;
    padding: 24px 0;
    letter-spacing: 0.02em;
  }
}

/* =====MOBILE-MENU===== */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.menu-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid #2e2f42;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-btn:hover,
.menu-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.menu-close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-btn:hover .menu-close-icon,
.menu-close-btn:focus .menu-close-icon {
  fill: #fff;
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-list-nav {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-list-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.12;
  letter-spacing: 0.02em;
  color: #2e2f42;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-current {
  color: #404bbf;
}

.menu-adress {
  display: block;
  margin-bottom: 48px;
}

.menu-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.menu-address-contact {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-tel {
  color: #4d5ae5;
}

.menu-icon-list {
  display: flex;
  gap: 40px;
}

.menu-icon-link {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-icon {
  fill: #f4f4fd;
}

.menu-icon-link:hover,
.menu-icon-link:focus {
  background-color: #31d0aa;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/* =====HEAD=SECTION===== */

.head {
  background-color: #2e2f42;
  padding-top: 72px;
  padding-bottom: 72px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/head-bg-mob-min.jpg);

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 320px;

  margin: 0 auto;
}
@media screen and (min-resolution: 192dpi) {
  .head {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/head-bg-mob@2x-min.jpg);
  }
}

.head-container {
}

.head-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.12;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 216px;
  margin: 0 auto;
  margin-bottom: 72px;
}

.btn-order-service {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-order-service:hover,
.btn-order-service:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .head {
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/head-bg-tab-min.jpg);
    max-width: 768px;
  }
  @media screen and (min-resolution: 192dpi) {
    .head {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/head-bg-tab@2x-min.jpg);
    }
  }

  .head-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .head {
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/head-bg-desk-min.jpg);
    max-width: 1440px;
  }
  @media screen and (min-resolution: 192dpi) {
    .head {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/head-bg-desk@2x-min.jpg);
    }
  }

  .head-title {
    margin-bottom: 48px;
  }
}

/* =====BENEFITS===== */
.benefits {
  padding-top: 96px;
  padding-bottom: 96px;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.benefits-list-item {
  width: 100%;
}

.benefits-box {
  display: none;
}

.benefits-subtitle {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
}

.benefits-list-text {
  max-width: 288px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .benefits-list {
    gap: 24px;
    row-gap: 72px;
  }

  .benefits-list-item {
    width: calc((100% - 24px) / 2);
  }
  .benefits-subtitle {
    text-align: left;
  }

  .benefits-list-text {
    max-width: 356px;
  }
}

@media screen and (min-width: 1158px) {
  .benefits {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .benefits-list {
    gap: 24px;
  }

  .benefits-list-item {
    width: calc((100% - 72px) / 4);
  }

  .benefits-box {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .benefits-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .benefits-list-text {
    max-width: 264px;
    font-weight: 400;
  }
}

/* =====TEAM===== */

.team {
  background: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}
.team .container {
  padding: 0;
}

.team-title {
  margin-bottom: 72px;
}

.team-list {
  margin: 0 auto;
  max-width: 264px;
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  padding: 0;
}

.team-list-item {
  width: 100%;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-img {
}

.team-card {
  padding: 32px 0;
  max-width: 100%;
}

.team-subtitle {
  margin-bottom: 8px;
}

.team .team-text {
  color: #434455;
}

.team-text {
  text-align: center;
  margin-bottom: 8px;
}

.team-icon-list {
  display: flex;
  gap: 24px;
  /* margin: 0 16px; */
  /* padding-right: 16px;
    padding-left: 16px; */

  justify-content: center;
}
.team-icon-item {
}

.team-icon-link {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-link:focus {
  background-color: #404bbf;
}

.team-icon {
  fill: #f4f4fd;
}

.team-card:hover .team-icon-link,
.team-card:focus .team-icon-link {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .team-list {
    max-width: 552px;
    gap: 24px;
    row-gap: 64px;
  }

  .team-list-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .team {
    padding: 120px 0;
  }

  .team .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  .team-list {
    max-width: 100%;
    gap: 24px;
  }

  .team-list-item {
    width: calc((100% - 72px) / 4);
  }
}

/* =====PORTFOLIO===== */

.portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
}
.portfolio .container {
}

.portfolio-title {
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.portfolio-list-item {
  max-width: 100%;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .portfolio-list-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
} */

.portfolio-cover {
  position: relative;
  overflow: hidden;
}

.portfolio-cover-text {
  position: absolute;
  top: 0;
  padding: 40px 32px;
  height: 100%;
  width: 100%;
  font-weight: 400;
  color: #f4f4fd;
  background-color: #4d5ae5;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .portfolio-cover-text {
  transform: translate(0);
}

.portfolio-img {
}

.portfolio-card {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.portfolio-subtitle {
  text-align: left;
  margin-bottom: 8px;
}

.portfolio-list-text {
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    gap: 24px;
    row-gap: 72px;
  }

  .portfolio-list-item {
    max-width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .portfolio-list {
    gap: 24px;
    row-gap: 48px;
  }

  .portfolio-list-item {
    max-width: calc((100% - 48px) / 3);
    box-shadow: none;
  }

  .portfolio-list-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
}

/* =====FOOTER===== */

.footer {
  background: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
.footer-logo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo-accent {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  max-width: 288px;
}

.footer-social-container {
  /* width: 208px;
  height: 80px; */
  /* margin-top: 100px;
  margin-bottom: 132px; */
  /* margin-right: 80px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-text-media {
  display: inline-block;
  font-weight: 500;
  color: #fff;
  margin-bottom: 16px;
}

.footer-icon-list {
  display: flex;
  gap: 16px;
}

.footer-icon-item {
}

.footer-icon-link {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon {
  fill: #f4f4fd;
}

.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: #31d0aa;
}

.footer-input-all-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form-footer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.footer-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;

  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  border-radius: 4px;
  color: #fff;
  opacity: 0.6;
}

.footer-input::placeholder {
  color: #fff;
}

.btn-footer-send {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  margin: 0 auto;
  min-width: 165px;
  height: 40px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.btn-footer-send:hover,
.btn-footer-send:focus {
  background-color: #404bbf;
}

.icon-send {
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .footer {
    padding-left: 108px;
  }
  .footer-container {
    padding: 0;
    gap: 72px 24px;
    align-items: baseline;
  }

  .footer-logo-container {
    flex-direction: column;
  }
  .footer-text {
    max-width: 264px;
  }
  .footer-social-container {
    flex-direction: column;
  }

  .footer-input-all-container {
    flex-direction: column;
  }

  .form-footer {
    gap: 24px;
  }

  .footer-input {
    width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer-container {
    gap: 0;
  }

  .footer-logo-container {
    margin-right: 120px;
  }

  .footer-social-container {
    margin-right: 80px;
  }

  .footer-input {
    opacity: 1;
  }
}

/* ======MODAL===== */

.backdrop {
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.modal {
  width: 288px;
  min-height: 623px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 16px 24px 16px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: #fff;
}

.modal-title {
  max-width: 256px;
  font-size: 16px;
  margin-bottom: 16px;
  line-height: 1.5;
}

.modal-form {
  max-width: 100%;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-input-label {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-cover {
  position: relative;
}

.modal-input {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 40px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .modal-input-icon {
  fill: #4d5ae5;
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field-texterea {
  margin-bottom: 16px;
}

.modal-textarea {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 120px;
  background-color: transparent;
  outline: transparent;
  padding: 8px 16px;

  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}

.modal-textarea::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.checkbox-wrap {
  margin-bottom: 24px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.check-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;

  /* display: inline-block; */
  display: flex;
  align-items: center;
}

.check-element {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked + .check-text .check-element {
  fill: #f4f4fd;
  border: none;
  background-color: #404bbf;
}

.link-privacy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  line-height: 1.34;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.modal-btn-send {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  background: #4d5ae5;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;

  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-send:hover,
.modal-btn-send:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    height: 584px;
    padding: 72px 24px 24px 24px;
  }

  .modal-title {
    max-width: 360px;
  }
}
